<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% include ../partials/nav %>
  <div class="container auth auth-join">

    <form action="/auth/join" method="post">
      <h1 class="mainForm">JOIN</h1>
      <div class="formcontainer">

          <input class="member" type="text" name="username" placeholder="username" required>
  
          <input class="member" type="password" name="password" placeholder="password" required>
        
          <input class="member" type="text" name="displayName" placeholder="displayName" required>
        
        <p>
          <input class="submitbtn" type="submit" value="join">
        </p>

        <div class="login">
          <p>Already have an account? <a href="/auth/login">Login</a>.</p>
        </div>
      </div>
    </form>
    
  </div>

</body>
</html>