<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/nav %>
	<div class="card-group">
		<div class="card">
		  <div class="card-body">
			<h5 class="card-title">A동-1</h5>
			<p class="card-text">온도 : </p>
			<p class="card-text">습도 : </p>
			<p class="card-text">광량 : </p>
			<p class="card-text">병해충 : </p>
		  </div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">A동-2</h5>
				<p class="card-text">온도 : </p>
				<p class="card-text">습도 : </p>
				<p class="card-text">광량 : </p>
				<p class="card-text">병해충 : </p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">A동-3</h5>
				<p class="card-text">온도 : </p>
				<p class="card-text">습도 : </p>
				<p class="card-text">광량 : </p>
				<p class="card-text">병해충 : </p>
			</div>
		</div>
	  </div>
	  <div class="card-group">
		<div class="card">
		  <div class="card-body">
			<h5 class="card-title">A동-4</h5>
			<p class="card-text">온도 : </p>
			<p class="card-text">습도 : </p>
			<p class="card-text">광량 : </p>
			<p class="card-text">병해충 : </p>
		  </div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">A동-5</h5>
				<p class="card-text">온도 : </p>
				<p class="card-text">습도 : </p>
				<p class="card-text">광량 : </p>
				<p class="card-text">병해충 : </p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">A동-6</h5>
				<p class="card-text">온도 : </p>
				<p class="card-text">습도 : </p>
				<p class="card-text">광량 : </p>
				<p class="card-text">병해충 : </p>
			</div>
		</div>
	  </div>
	  <div class="card-group">
		<div class="card">
		  <div class="card-body">
			<h5 class="card-title">A동-7</h5>
			<p class="card-text">온도 : </p>
			<p class="card-text">습도 : </p>
			<p class="card-text">광량 : </p>
			<p class="card-text">병해충 : </p>
		  </div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">A동-8</h5>
				<p class="card-text">온도 : </p>
				<p class="card-text">습도 : </p>
				<p class="card-text">광량 : </p>
				<p class="card-text">병해충 : </p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">A동-9</h5>
				<p class="card-text">온도 : </p>
				<p class="card-text">습도 : </p>
				<p class="card-text">광량 : </p>
				<p class="card-text">병해충 : </p>
			</div>
		</div>
	  </div>
	  
<!--
	<div id="slideshow">
        <img alt="" src="./images/1.jpg">
        <img alt="" src="./images/2.jpg">
        <img alt="" src="./images/3.jpg">
        <img alt="" src="./images/4.jpg">
        <img alt="" src="./images/5.jpg">
    </div>
    
<script>
	 jQuery(function() {
	    var rolling_time = 4000;
	    var effect_time = 2000;
	 
	    var $slideshow = $("#slideshow > img");
	    $slideshow.not(":first").hide();
	 
	    setInterval(rolling, rolling_time);
	 
	    function rolling()
	    {
	        $visible_img = $slideshow.filter(":visible");
	        $visible_img.fadeOut(effect_time);
	 
	        $next_img = $visible_img.next();
	        if ($next_img.length === 0) {
	            $next_img = $slideshow.filter(":first");
	        }
	        $next_img.fadeIn(effect_time);
	    }
	});
</script>
-->
</body>
</html>