<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/nav %>
	<div class="home home-about">
			<h1>Movie Holic</h1>
			<p>Movie Holic은 인스타그램, 네이버 포스트 등과 같은</br>
			SNS 채널에 최적화된 영화 추천 콘텐츠를 제작하는 사이트입니다.</p>
			<p>또한, 영화에미치다는 마케팅 전문가가 아닌</br> 
			실제로 영화를 좋아하는 사람들이</br>
			함께 만들어 나가는 공간으로, 누구나 쉽게 이용하실 수 있습니다.</p>
	</div>

</body>
</html>